
/*
the design for the big window
*/
.login-page {
  top: 50%;
  left: 50%;
  /* background-color: #dadbd3; */
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;

  background-image: url("../pictures/background-beige2.jpg");
  background-repeat: repeat;
  background-position: center;
}

/*
the design for the small window
*/
.login-box {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #ededed;
  height: 86vh;
  width: 40vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75) ;

  background-image: url("../pictures/background-beige.jpg");
  background-repeat: repeat;
  background-position: center;
}

.login-box > h1 {
  font-size: 50px;
  margin-top: 30px;
  font-weight: bold;
    text-decoration: none;
  color: black;
  text-shadow: 2px 1px #686868;
  padding: 10px;
  font: italic 1.8em "Fira Sans", serif;
}
.mb-3 {
  font-size: 20px;
    text-decoration: none;
  color: black;
  text-shadow: 1px 1px #686868;
  font-family: 'Orienta', sans-serif;
}

.login-box > p1 {
  font-size: 30px;
    text-decoration: none;
  color: black;
  text-shadow: 1px 1px #686868;
  font-family: 'Orienta', sans-serif;
}


/*
the design for the button
*/
.login-button {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  color: #CEF2E1;
  margin-bottom: 10px;
  border-radius: 40px;
  border: #D7F9F8;
  transition-duration: 2s;


}

.login-button > button:hover{
  display: flex;
  border-radius: 10px;
}


.register{
  margin-top: -5px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  color: #CEF2E1;
  margin-bottom: 30px;
  border-radius: 40px;
  border: #D7F9F8;
  transition-duration: 2s;



}
.register_button {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  text-align: center;
  color: #CEF2E1;
  margin-bottom: 30px;
  border: #D7F9F8;
  transition-duration: 2s;

  
}

.register_button:hover {
  display: flex;
  border-radius: 10px;
}

.seperate {
  margin-top: 10px;
  font-size: 10px;
    margin-left: 30px;
    margin-bottom: 5px;
  font-weight: bold;
    text-decoration: none;
  color: black;
}

.line{
  border-top: 2px solid #f6f6f6;
}