
/*
the design for the big window
*/
.login-page {
  top: 50%;
  left: 50%;
  background-color: #dadbd3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

/*
the design for the small window
*/
.login-box {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
  background-color: #ededed;
  height: 70vh;
  width: 40vw;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75) ;
}

/*
the design for the button
*/
.login-button {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  gap: 20px;
}