.register-page {
    top: 50%;
    left: 50%;
    /* background-color: #dadbd3; */
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;

    background-image: url("../pictures/background-beige2.jpg");
    background-repeat: repeat;
    background-position: center;
  }
  
  .register-box {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
    background-color: #ededed;
    height: 86vh;
    width: 40vw;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.75) ;
    background-image: url("../pictures/background-beige.jpg");
    background-repeat: repeat;
    background-position: center;
  }
  
  .register-button {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 20px;
  }

  .register-button:hover {
    display: flex;
    border-radius: 10px;
  }
  