.sidebar{
    flex: 0.35;
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    
}

.sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}


.sidebar_header > h1 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: bold;
    margin-left: -150px;
    text-decoration: none;
    color: #686868;
    text-shadow: 2px 3px #E4E4E4;
    
}

.sidebar_headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 5vw;
}

.sidebar_chats {
    background-color: white;
    flex: 1;
    overflow: scroll;
}


.avatar{
    margin-top: 10px;
    margin-left: 10px;
    height: 12vh;
    width: 5vw;
}

.chatIcon{
    margin-top: 10px;
    margin-left: 10px;
    height: 5vh;
    width: 2vw;
}

.chatIconButton{
    margin-top: 10px;
    margin-left: 10px;
    height: vh;
    width: 3vw;
    border: none;
}

.new_chat_body > p{
    font-size: 15px;
    text-shadow: none;
    margin-bottom: 5px;
}
